*, *::after, *::before {
  box-sizing: border-box;
  border:1px solid green;
}
*:not(i){
  font-family: 'Inter', sans-serif;
}
body{
  background-color: bonewhite;
  color: black;
  margin: 0%;
  padding: 0%;
  height: 100%;
  
  
}
.Header{
  display: flex;
  width: 100%;
  align-items: center;
  background-color: white;
  position: fixed;
}
.Title{margin-left: 10%;}
.HeaderSection{
  position: absolute;
  display: flex;
  right: 50px;
}

.HeaderSection > h2{
  margin: 10px;
}
.Jeger{
  padding-top: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
   
}
.Myname{
  text-align: center;
}

.Name{
  text-align: center;
  font-size: 60px;
}

.Jegernørd{}

.Makeownsite{
  align-self: center;
  margin: auto;
  align-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;

}

.Makeownsite > div{ display:flex;
margin: 10%;}

.Metitel{text-align: center;}

.Me{
  flex-grow: 1;
  padding-left: 5%;
  
  min-width: 500px;
  max-width: 600px;
}

.Aboutme{
  display: flex;
  flex-direction: row;
  
  min-width: 100px;
}

.Aboutmetext{padding: 2.5%;
  flex-grow: 1;
  min-width: 250px;
}

.Skills{display: flex; ;
  margin-top: 20%;
  margin-bottom: 20%;
}
.Skills > div {margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
 
}

.Skills > div > div{align-self: center;}


.Detjegkan{
  
  display: grid;
  grid-template-columns: 200px 200px;
  align-self: center;
}

.Øverpå{
  
  display: grid;
  grid-template-columns: 200px 200px;
  align-self: center;
}

I{padding: 5%;
font-size: 5vw;
align-self: center;}

.Skill{display: flex;}

.Skilltext{font-size: 1.5vw;}

.Jobs{display: grid;
grid-template-columns: 300px 300px;
grid-gap:20px}

.Job{border: 1px solid red;
  height: 150px;
  padding: 10px;
}
.Jobtitel{font-size: 25px;
margin-bottom: 20px;}
.jobname{align-self: center;}

.buttons{
  display: flex;
}

.buttons > button{
  border-radius: 6px;
  margin: auto;
}

.contacts{display: grid ;
  grid-template-columns: 100px 100px; align-items: center; justify-content: center;}



.contactme{display: flex;
flex-direction: column;}
.contactme > div{
  align-self: center;
}

.stuff > *{
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.jobname{align-items: center;
justify-content: center;
align-self: center;
display: flex;}