*, *::after, *::before {
  box-sizing: border-box;
  border:1px solid green;
}
*:not(i){
  font-family: 'Inter', sans-serif;
}
body{
  background-color: bonewhite;
  color: black;
  margin: 0%;
  padding: 0%;
  height: 100%;
  
  
}
.Header{
  display: flex;
  width: 100%;
  align-items: center;
  background-color: white;
  position: fixed;
}
.Title{margin-left: 10%;}
.HeaderSection{
  position: absolute;
  display: flex;
  right: 50px;
}

.HeaderSection > h2{
  margin: 10px;
}
.Jeger{
  padding-top: 10vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100vw;
 height: 70vw;
   
}
.Myname{
  text-align: center;
}

.Name{
  text-align: center;
  font-size: 60px;
}

.Jegernørd{}

.Makeownsite{
  height: 65vw;
  align-self: center;
  margin: auto;
  align-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;

}

.Makeownsite > div{ display:flex;
margin: 10%;}

.Metitel{text-align: center;}

.Me{

  width: 2px;
  max-height: 30vw;
  min-width: 500px;
  max-width: 600px;
}

.Aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
}

.Aboutmetext{padding: 2.5%;
  flex-grow: 1;
  min-width: 250px;
}

.Skills{display: flex; ;
  margin-top: 5%;
  margin-bottom: 5%;
}
.Skills > div {margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
 
}


.Skills > div > div{align-self: center;}



.Skills .Job:hover{
    
  transform: scale(1.2) ;
  transition-duration: 0.75s;
  }

.Skills .Skill:hover{
  
transform: scale(1.2) ;
transition-duration: 0.75s;


}


.Detjegkan{
  
  display: grid;
  grid-template-columns: 200px 200px;
  align-self: center;
}

.Øverpå{
  
  display: grid;
  grid-template-columns: 200px 200px;
  align-self: center;
}

I{padding: 5%;
font-size: 5vw;
align-self: center;}

.Skill{display: flex; align-items: center;}

.Skilltext{font-size: 1.2vw;
}

.Jobs{display: grid;
grid-template-columns: 300px 300px;
grid-gap:20px}

.Job{border: 1px solid red;
  height: 150px;
  padding: 10px;
}
.Jobtitel{font-size: 25px;
margin-bottom: 20px;}
.jobname{align-self: center;}

.buttons{
  display: flex;
  
 
}

.buttons > a{
  border-radius: 6px;
  margin: auto;
  flex-direction: row;
}

.contacts{display: flex ;
  flex-direction: row; align-items: center; justify-content: center;}



.contactme{display: flex;
flex-direction: column;}
.contactme > div{
  align-self: center;
}

.stuff > *{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 10px;
  
}

.jobname{align-items: center;
justify-content: center;
align-self: center;
display: flex;}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}